/**
 * Main menu icons.
 */
.toolbar-icon-system-admin-committee:before {
    background-image: url(../images/icons/787878/gavel.svg);
}
.toolbar-icon-system-admin-committee:active:before,
.toolbar-icon-system-admin-committee.is-active:before {
    background-image: url(../images/icons/000000/gavel.svg);
}
