{#
/**
 * @file committee_minutes.html.twig
 * Default theme implementation to present Minutes data.
 *
 * This template is used when viewing Minutes pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_committee_minutes()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('committee_minutes') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
