{#
/**
 * @file committee_minute_item.html.twig
 * Default theme implementation to present Minute item data.
 *
 * This template is used when viewing Minute item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_committee_minute_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('committee_minute_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
