{#
/**
 * @file committee_member.html.twig
 * Default theme implementation to present Committee member data.
 *
 * This template is used when viewing Committee member pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_committee_member()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('committee_member') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
