{#
/**
 * @file committee_agenda.html.twig
 * Default theme implementation to present Agenda data.
 *
 * This template is used when viewing Agenda pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_committee_agenda()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('committee_agenda') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
