{#
/**
 * @file committee_agenda_item.html.twig
 * Default theme implementation to present Committee agenda item data.
 *
 * This template is used when viewing Committee agenda item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_committee_agenda_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('committee_agenda_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
