{#
/**
 * @file committee_attendee.html.twig
 * Default theme implementation to present Attendee data.
 *
 * This template is used when viewing Attendee pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_committee_attendee()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('committee_attendee') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
